.parallax-title{
  padding-top: 100px;
}

#bloco{
  height: 700px;
}

#bloco2{
  height: 520px;
}

#registrar{
  margin-top: 50px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  align: center;
  border-radius: 20%;
  width: 40px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  border-radius: 20%;
  width: 40px;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 20%;
  width: 40px;
}
