.btn{
    background-color: white !important;
    color: #4fc3f7 !important;
    border: none !important;
    box-shadow: none !important;
}

.tags > span{
    background-color: #039BE5;
     color: #FAFAFA;
}

.white[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #FAFAFA; /* You need to change the colour here */
    border-bottom: 2px solid #FAFAFA; /* And here */
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%; 
}

.white[type="checkbox"] + label:before {
    top: -4px;
    left: -3px;
    width: 22px;
    height: 22px;
    border-top: 2px solid #FAFAFA;
    border-left: 2px solid #FAFAFA;
    border-right: 2px solid #FAFAFA; /* You need to change the colour here */
    border-bottom: 2px solid #FAFAFA; /* And here */
}

.input-field .prefix.active {
    color: #FAFAFA;
}