.fixed-nav {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bar-esq {
  min-height: 100%;
  height: 100%;
}

.bar-dir {
  min-height: 100%;
  height: 100%;
  box-shadow: -2px 0 4px rgba(33, 33, 33, 0.4);
}

.tags > span {
  background: #B3E5FC;
  color: #212121;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: default;
}

i.right {
  position: absolute;
  top: 1em;
  right: 1.5em;
  cursor: pointer;
}

.parallax-title{
  margin-top: 110px;
}
