.fixed-nav {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bar-esq {
  height: 100vh;
  box-shadow: 2px 0 4px rgba(33, 33, 33, 0.4);
}

.bar-dir {
  height: 100vh;
  box-shadow: -2px 0 4px rgba(33, 33, 33, 0.4);
}

.tags > span {
  background: #039BE5;
  color: #FAFAFA;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: default;
  font-weight: 300;
}

i.right {
  position: absolute;
  top: 1em;
  right: 1.5em;
  cursor: pointer;
}

input#search {
  padding-left: 60px;
}

.content-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-height: 40%;
  overflow: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
}

.content-tags > span {
  display: block;
  cursor: pointer;
  background: #039BE5;
  color: #FAFAFA;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 50px;
  font-weight: 300;
}

.content-tags > span:hover {
  background-color: #06abfc;
}

.menu-links {
  text-align: center;
  font-size: 1.2em;
}

.btn-float-down {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.aling-edit {
  position: relative;
}
